.home-header
  %h1
    DataMade

%p.lead
  We build open source products and custom websites with open data in Chicago.
  %a{:href => "mailto:info@datamade.us"} Hire us &raquo;

%hr
%h2#products Products

%p Civic, <strong>open source</strong> products for your municipality or organization. <a href='mailto:info@datamade.us'>We'll customize and deploy it</a>, or you can <a href='https://github.com/datamade'>grab the code</a> yourself.

.row-fluid
  .span4 
    %a{:href => "searchable-map-template"}
      %img.img-polaroid{:src => "/images/products/searchable_map_template.jpg", :title => "Searchable Map Template with Google Fusion Tables"}
      %h4
        Searchable Map Template
    %p
      %strong Put your data on a searchable map
    %p 
      This template, powered by Google Fusion Tables, allows anyone to make a powerful map in minutes.
        
  .span4
    %a{:href => "dedupe"}
      %img.img-polaroid{:src => "/images/products/dedupe.jpg", :title => "Dedupe"}
      %h4
        Dedupe
    %p
      %strong Quickly de-duplicates large sets of data
    %p
      An API and command line tool to help clean up and merge messy data.

  .span4
    %a{:href => "look-at-cook"}
      %img.img-polaroid{:src => "/images/products/lookatcook.jpg", :title => "Dedupe"}
      %h4
        Look at Cook
    %p
      %strong Visualize your budget on the web
    %p
      Allow anyone to dive in to your budget, discover trends, and share with others.


%hr
%h2
  %a(href='/projects')
    Our work
    %small more &raquo;

%p
  We can help your organization distill your data into a fully customized, clear and concise map or visualization. 

.row-fluid  
  .span4
    %a{:href => "http://www.chicagohealthatlas.org/"}
      %img.img-polaroid{:src => "/images/projects/chicago-health-atlas.jpg", :title => "Chicago Health Atlas"}
    %h4
      %a{:href => "http://www.chicagohealthatlas.org/"} Chicago Health Atlas
      %small
        %br
        Data cleanup, custom visualizations
        %br
        Client: 
        %a.client-link{:href => 'http://www.smartchicagocollaborative.org/projects/chicago-health-atlas/'} Smart Chicago Collaborative
    %p
      View citywide information about health trends and take action near you to improve your own health.

  .span4
    %a{:href => "http://microboundaries.com"}
      %img.img-polaroid{:src => "/images/projects/gfry-microboundaries.jpg", :title => "Micro Boundaries"}
    %h4
      %a{:href => "http://microboundaries.com"} Micro Boundaries
      %small
        %br
        Custom visualizations
        %br
        Client: 
        %a.client-link{:href => 'http://www.saic.edu/'} School of the Art Institute of Chicago
    %p
      A project by SAIC design students Moe Beitiks and Brooke Collins. Find a home for five beneficial bacteria by interpreting their needs, exploring your city and taking photos with Instagram.

  .span4
    %a{:href => "http://weconnectchicago.org"}
      %img.img-polaroid{:src => "/images/projects/connect-chicago.jpg", :title => "Connect Chicago"}
    %h4
      %a{:href => "http://weconnectchicago.org"} Connect Chicago
      %small
        %br
        Data cleanup, custom maps
        %br
        Client: 
        %a.client-link{:href => 'http://www.smartchicagocollaborative.org/the-launch-of-connect-chicago/'} Smart Chicago Collaborative
    %p
      Searchable map and website to find free public computer centers and training.

%hr
%h2 Clients

%p.clients

  %a{:href => 'http://www.smartchicagocollaborative.org/'}
    %img{:src => '/images/clients/smart-chicago.jpg', :alt => 'Smart Chicago Collaborative'}

  %a{:href => 'http://www.ilcampaign.org/'}
    %img{:src => '/images/clients/icpr.jpg', :alt => 'Illinois Campaign for Political Reform'}

  %a{:href => 'http://wbez.org/'}
    %img{:src => '/images/clients/wbez.jpg', :alt => 'WBEZ 91.5'}

  %a{:href => 'http://www.eoionline.org/'}
    %img{:src => '/images/clients/eoi.jpg', :alt => 'Economic Opportunity Institute'}

  %a{:href => 'http://www.saic.edu/'}
    %img{:src => '/images/clients/saic.jpg', :alt => 'School of the Art Institute of Chicago'}

  %a{:href => 'http://communication.depaul.edu/'}
    %img{:src => '/images/clients/depaul-communication.jpg', :alt => 'DePaul College of Communication'}

  %a{:href => 'http://www.participatorypolitics.org/'}
    %img{:src => '/images/clients/ppf.jpg', :alt => 'Participatory Politics Foundation'}

%hr
%h2 Grantors

%p.clients

  %a{:href => 'http://www.mozillaopennews.org/'}
    %img{:src => '/images/clients/knight-mozilla-opennews.jpg', :alt => 'Knight-Mozilla OpenNews'}