.home-header
  %h1
    DataMade

%p.lead
  We are an open data web development and consulting company in Chicago.
  %a{:href => "mailto:info@datamade.us"} Hire us &raquo;

%hr
%h2 
  %a(href='/products')
    Products
    %small more &raquo;

.row-fluid
  .span4 
    %a{:href => "searchable-map-template"}
      %img.img-polaroid{:src => "/images/products/searchable_map_template.jpg", :title => "Searchable Map Template with Google Fusion Tables"}
      %h4
        Searchable Map Template
    %p
      Put your data on a searchable, filterable map. This is a free, open source tool and template powered by Google 
      %a{:href => "http://google.com/fusiontables/Home/"} Fusion Tables
      that allows anyone to make a powerful map in minutes.
        
  .span4
    %a{:href => "dedupe"}
      %img.img-polaroid{:src => "/images/products/dedupe.jpg", :title => "Dedupe"}
      %h4
        Dedupe
    %p
      An open source python library that quickly de-duplicates large sets of data on a laptop using machine learning.

  .span4
    %a{:href => "look-at-cook"}
      %img.img-polaroid{:src => "/images/products/lookatcook.jpg", :title => "Dedupe"}
      %h4
        Look at Cook
    %p
      An open source and open data budget visualization platform.


%hr
%h2
  %a(href='/projects')
    Our work
    %small more &raquo;

.projects-list
  .row-fluid  
    .span4
      %a{:href => "http://www.chicagohealthatlas.org/"}
        %img.img-polaroid{:src => "/images/projects/chicago-health-atlas.jpg", :title => "Chicago Health Atlas"}
      %h4
        %a{:href => "http://www.chicagohealthatlas.org/"} Chicago Health Atlas
        %small
          %br
          Data cleanup, custom visualizations
          %br
          Client: 
          %a.client-link{:href => 'http://www.smartchicagocollaborative.org/projects/chicago-health-atlas/'} Smart Chicago Collaborative
      %p
        View citywide information about health trends and take action near you to improve your own health.

    .span4
      %a{:href => "http://microboundaries.com"}
        %img.img-polaroid{:src => "/images/projects/gfry-microboundaries.jpg", :title => "Micro Boundaries"}
      %h4
        %a{:href => "http://microboundaries.com"} Micro Boundaries
        %small
          %br
          Custom visualizations
          %br
          Client: 
          %a.client-link{:href => 'http://www.saic.edu/'} School of the Art Institute of Chicago
      %p
        A project by SAIC design students Moe Beitiks and Brooke Collins. Find a home for five beneficial bacteria by interpreting their needs, exploring your city and taking photos with Instagram.

    .span4
      %a{:href => "http://stateofworkingwa.org/budget/"}
        %img.img-polaroid{:src => "/images/projects/look-at-wa.jpg", :title => "The State of Washington Budget"}
      %h4
        %a{:href => "http://stateofworkingwa.org/budget/"} The State of Washington Budget
        %small
          %br
          Civic app deployment
          %br
          Client: 
          %a.client-link{:href => 'http://www.eoionline.org/'} Economic Opportunity Institute
      %p
        A re-deployment and customization of the 
        %a{:href => 'http://lookatcook.com'} Look at Cook 
        budget visualization platform for the State of Washington Budget.

%hr
%h2
  %a(href='/services')
    Services
    %small more &raquo;

.row-fluid
  .span6
    %h4 
      %i.icon-map-marker
      Custom maps and visualizations
    %p
      Using a variety of 
      %a{:href => 'http://derekeder.com/searchable_map_template'} tools 
      and experience, we can help your organization distill a pile of data into a clear and concise map or visualization. 

  .span6
    %h4 
      %i.icon-wrench
      Civic app deployment
    %p
      = succeed ',' do
        %a{:href => 'http://lookatcook.com'} Visualize your budgets
      %a{:href => 'http://chicagobuildings.org'} map vacant buildings
      or
      %a{:href => 'http://clearstreets.org'} track snow plows
      for your municipality or organization. 
      More examples of deployable apps 
      = succeed '.' do
        %a{:href => 'http://opencityapps.org'} here
.row-fluid
  .span6
    %h4 
      %i.icon-sitemap
      Data cleanup and analysis
    %p
      Clean up, 
      %a{:href => 'https://github.com/open-city/dedupe'} de-duplicate 
      and release your data to make it easily accessible for developers, all while keeping sensitive information secure.
  .span6
    %h4 
      %i.icon-info-sign
      Training and education
    %p
      An unprecedented amount of data is being gathered and published by governments, companies and organizations. Understand, interpret and tell the stories behind all this open data.

%hr
%h2 Clients

%p.clients

  %a{:href => 'http://www.smartchicagocollaborative.org/'}
    %img{:src => '/images/clients/smart-chicago.jpg', :alt => 'Smart Chicago Collaborative'}

  %a{:href => 'http://www.ilcampaign.org/'}
    %img{:src => '/images/clients/icpr.jpg', :alt => 'Illinois Campaign for Political Reform'}

  %a{:href => 'http://wbez.org/'}
    %img{:src => '/images/clients/wbez.jpg', :alt => 'WBEZ 91.5'}

  %a{:href => 'http://www.eoionline.org/'}
    %img{:src => '/images/clients/eoi.jpg', :alt => 'Economic Opportunity Institute'}

  %a{:href => 'http://www.saic.edu/'}
    %img{:src => '/images/clients/saic.jpg', :alt => 'School of the Art Institute of Chicago'}

  %a{:href => 'http://communication.depaul.edu/'}
    %img{:src => '/images/clients/depaul-communication.jpg', :alt => 'DePaul College of Communication'}