%hr
%h2#our-open-source-tools Open source tools

.row-fluid
  .span6 
    %a{:href => "http://derekeder.com/searchable_map_template/"}
      %img.img-polaroid{:src => "/images/tools/searchable_map_template.jpg", :title => "Searchable Map Template with Google Fusion Tables"}
      %h4
        Searchable Map Template
    %p
      Put your data on a searchable, filterable map. This is a free, open source tool and template powered by Google 
      %a{:href => "http://google.com/fusiontables/Home/"} Fusion Tables
      that allows anyone to make a powerful map in minutes.
        

  .span6
    %a{:href => "https://github.com/open-city/dedupe"}
      %img.img-polaroid{:src => "/images/tools/dedupe.jpg", :title => "Dedupe"}
      %h4
        Dedupe
    %p
      An open source python library that quickly de-duplicates large sets of data on a laptop using machine learning.