%h1 
  Projects
  %small Tell a story with your data

.projects-list
  .row-fluid  
    .span4
      %a{:href => "http://www.chicagohealthatlas.org/"}
        %img.img-polaroid{:src => "/images/projects/chicago-health-atlas.jpg", :title => "Chicago Health Atlas"}
      %h4
        %a{:href => "http://www.chicagohealthatlas.org/"} Chicago Health Atlas
        %small
          %br
          Data cleanup, custom visualizations
          %br
          Client: 
          %a.client-link{:href => 'http://www.smartchicagocollaborative.org/projects/chicago-health-atlas/'} Smart Chicago Collaborative
      %p
        View citywide information about health trends and take action near you to improve your own health.

    .span4
      %a{:href => "http://microboundaries.com"}
        %img.img-polaroid{:src => "/images/projects/gfry-microboundaries.jpg", :title => "Micro Boundaries"}
      %h4
        %a{:href => "http://microboundaries.com"} Micro Boundaries
        %small
          %br
          Custom visualizations
          %br
          Client: 
          %a.client-link{:href => 'http://www.saic.edu/'} School of the Art Institute of Chicago
      %p
        A project by SAIC design students Moe Beitiks and Brooke Collins. Find a home for five beneficial bacteria by interpreting their needs, exploring your city and taking photos with Instagram.

    .span4
      %a{:href => "http://stateofworkingwa.org/budget/"}
        %img.img-polaroid{:src => "/images/projects/look-at-wa.jpg", :title => "The State of Washington Budget"}
      %h4
        %a{:href => "http://stateofworkingwa.org/budget/"} The State of Washington Budget
        %small
          %br
          Civic app deployment
          %br
          Client: 
          %a.client-link{:href => 'http://www.eoionline.org/'} Economic Opportunity Institute
      %p
        A re-deployment and customization of the 
        %a{:href => 'http://lookatcook.com'} Look at Cook 
        budget visualization platform for the State of Washington Budget.

  
  .row-fluid
    .span4
      %a{:href => "http://chicagocube.org/"}
        %img.img-polaroid{:src => "/images/projects/gfry-chicagocube.jpg", :title => "Chicago Cube"}
      %h4
        %a{:href => "http://microboundaries.com/"} Chicago Cube
        %small
          %br
          Custom visualizations
          %br
          Client: 
          %a.client-link{:href => 'http://www.saic.edu/'} School of the Art Institute of Chicago
      %p
        A project by SAIC design student Amarinh Kongmanivong. Plant a Gerbera daisy, share a photo of it on Instagram, watch it grow.

    .span4
      %a{:href => "http://weconnectchicago.org"}
        %img.img-polaroid{:src => "/images/projects/connect-chicago.jpg", :title => "Connect Chicago"}
      %h4
        %a{:href => "http://weconnectchicago.org"} Connect Chicago
        %small
          %br
          Data cleanup, custom maps
          %br
          Client: 
          %a.client-link{:href => 'http://www.smartchicagocollaborative.org/the-launch-of-connect-chicago/'} Smart Chicago Collaborative
      %p
        Searchable map and website to find free public computer centers and training.

    .span4
      %a{:href => "http://chicagoearlylearning.org/"}
        %img.img-polaroid{:src => "/images/projects/chicago-early-learning.jpg", :title => "Chicago Early Learning"}
      %h4
        %a{:href => "http://chicagoearlylearning.org/"} Chicago Early Learning
        %small
          %br
          Data cleanup
          %br
          Client: 
          %a.client-link{:href => 'http://www.smartchicagocollaborative.org/the-launch-of-chicago-early-learning/'} Smart Chicago Collaborative
      %p
        Tool for finding and comparing preschools, head start and other early childhood education programs.