.row-fluid
  %h2#custom-maps-and-visualizations
    %i.icon-map-marker
    Custom maps and visualizations
  %p
    Using a variety of 
    %a{:href => 'http://derekeder.com/searchable_map_template'} tools 
    and experience, we can help your organization distill a pile of data into a clear and concise map or visualization. 

.row-fluid
  %h2#civic-app-deployment
    %i.icon-wrench
    Civic app deployment
  %p
    = succeed ',' do
      %a{:href => 'http://lookatcook.com'} Visualize your budgets
    %a{:href => 'http://chicagobuildings.org'} map vacant buildings
    or
    %a{:href => 'http://clearstreets.org'} track snow plows
    for your municipality or organization. 
    More examples of deployable apps 
    = succeed '.' do
      %a{:href => 'http://opencityapps.org'} here

.row-fluid
  %h2#data-cleanup-and-analysis
    %i.icon-sitemap
    Data cleanup and analysis
  %p
    Clean up, 
    %a{:href => 'https://github.com/open-city/dedupe'} de-duplicate 
    and release your data to make it easily accessible for developers, all while keeping sensitive information secure.
 
.row-fluid   
  %h2#training-and-education
    %i.icon-info-sign
    Training and education
  %p
    An unprecedented amount of data is being gathered and published by governments, companies and organizations. Understand, interpret and tell the stories behind all this open data.