body {
  font-size: 16px;
  padding-top: 80px;
}

.home-header h1 {
    font-size: 60px;
}

.home-header h1 small {
    font-size: 16px;
}

#mapCanvas img {
  max-width: none;
}

.clients img {
    margin-right: 30px;
    margin-top: 10px;
}