body {
  font-size: 16px;
}

.home-header {
  text-align: center;
}

.home-header h1 {
    font-size: 60px;
}

#mapCanvas img {
  max-width: none;
}

.clients img {
    margin-right: 30px;
    margin-top: 10px;
}